@import '../node_modules/bootstrap/scss/bootstrap.scss';
// .navbar-toggler {
//       border-color: transparent;
//     }

/*Reset Styles*/
@import 'reset';

/*Mixin Styles*/
@import 'mixin';

/*Header and sideNav Styles*/

#header{
  height: 100vh;
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: no-repeat;
#logo{
  margin: 30px 0;
  width: 100px;
  cursor: pointer;
  }
  @include section_text_design;
}
@media (max-width: 575.98px) {
  #header{
  background-image: none;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
 #header{
  background-image: none;
  }
}

/*sideNav Styles*/
#sideNav{
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #f67c92;
  z-index: 2;
  transition: .5s;
  ul li{
    list-style: none;
    margin: 50px 20px;
    a{
      text-decoration: none;
      color: #fff;
    }  
  }
}
#menuBtn{
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

/*-----about and Offer-----*/
#about{
  .about_child_1{
    flex-basis: 50%;
    img{
      width: 100%;
    }
  }
  .about_child_2{
    flex-basis: 50%;
    .about_content{
      @include section_text_design;     
      h3{
        font-style: italic;
        color: #797979;
      }
    }
  }
}

/*-----features-----*/
#feature{
  .feature_child{
    img{
      width: 100px;
    }
  @include heading_design;
  p{
    color:#777;
    font-size: var(--p-size);
   }
  }
 .feature_btn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @include square_design;
    @include common_btn_design;
    .line{
      text-align: right;
      display: inline-block;
      margin-right: 25px;
      margin-bottom: 17px;
    }
  }
}
/*-----courses-----*/
#courses{
  .course_child_1{
    flex-basis: 50%;
    .content{
      @include section_text_design; 
    }
  }
  .course_child_2{
    flex-basis: 50%;
    img{
      width: 100%;
    }
  }
}
/*-----offer-----*/
#offer{
  .offer_child_1{
    flex-basis: 50%;
    img{
      width:100%;
    }
  }
  .offer_child_2{
    flex-basis: 50%;
    .content{
      @include section_text_design; 
    }
  }
}

/*-----contact-----*/
#contact{
  .contact_child_1{
    flex-basis: 50%;
    @include common_btn_design;
    @include square_design;
    h1{
      font-family: var(--secondary-font);
      line-height: 1.2;
      color:var(--secondary-color);
      margin-bottom: 15px;
    }
    form{
      input{
        width: 100%;
        padding: 12px 10px;
        margin-bottom: 5px;
        outline: none;
        box-shadow: none;
        box-sizing: border-box;
        border: 2px solid #fab3c4;
      }
      .btn_box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        button{
          flex-basis: 48%;
          padding: 18px 0;
        }
      }
    }
  }
  .contact_child_2{
    flex-basis: 50%;
    img{
      width: 100%;
    }
  }
}


/*-----footer-----*/
#footer{
  hr{
    width: 100%;
    border: 0;
    border: 1px solid #f67cf6;
  }
  .footer_links{
    .link_child{
      color:#fab3c4;
      margin-bottom: 20px;
      font-family: var(--secondary-font);
    }
    small{
      font-size: 13px;
      color:#777;
    }
   }
   .copyright{
    small{
      color:#777;
    }   
  }
  .logo{
    @include common_btn_design;
    img{
      width: 100px;
    }
    .common_btn{
      padding: 12px 38px;
      margin-top: 20px;
      font-size: 10px;
    }
  }    
}
/*-----sun_moon-----*/
#sun_moon{
  width: 20px;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  top: 25%;
  left: 5px;
}

/*-----Social-icons-----*/
.social_icons{
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  ul{
    border: 1px solid #f67cf6;
    border-radius: 0 10px 10px 0;
    li{
      display: block;
      width: 20px;
      margin: 0 auto 20px;
      cursor: pointer;
      a{
        i.bi-facebook{
          color: #1877F2;
        }
        i.bi-instagram{
          color: #833AB4;
        }
        i.bi-twitter{
          color: #1DA1F2;
        }
        i.bi-linkedin{
          color: #0A66C2;
        }
      } 
    }
  }
}



